body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: uppercase;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
}

button:active {
    transform: scale(0.95);
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter {
    padding: 5px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    margin-top: 10px;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}

#error{
    color: red;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}